build
.vscode
.ipynb_checkpoints
CMakeLists.txt
EST(2)
potentials_and_eigenfunctions.png
Q2.py
Q5_CPP_WIP.cpp
simulation_long.png
simulation_short.png
Q5_CPP_Wrapper.py
.gitignore
critical_temperature_estimation_L20_B0.png
critical_temperature_estimation_L15_B0.png
critical_temperature_estimation_L40_B0.png
ising_model_B0.png
ising_model_B0.png
critical_temperature_estimation_L10_B0.png
critical_temperature_estimation_L5_B0.png
ising_model_B0_Final.png
critical_temperature_estimation_L64_B0.png
critical_temperature_estimation_L100_B0.png
ising_model_B0_2.png
ising_model_B0_Final2.png
simulation_result_L6.csv
simulation_result__L30.csv
simulation_result__L1_4.csv
simulation_result_L4.csv
simulation_result_L5.csv
simulation_result_L8.csv
simulation_result_L10.csv
simulation_result_L15.csv
simulation_result_L25.csv
